*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    font-family :  'Circular Std' , sans-serif ;                                               
} 

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 
main{
    height: 90vh; 

}  
/* Nav Left */
 main .nav-left{ 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-between;
    padding-left: 0.5rem;
    width: 10%; 
    height: 100%; 
    float: left;
    background-color: black;
} 
 

main section.nav-left .top-content .logo{ 
    display: flex; 
    justify-content:left;
    align-items: center; 
    flex-wrap: wrap;
    border: 1px solid black;
    height: 8vh; 
} 

main section.nav-left .top-content .logo img{ 
    text-align: left;
    width: 80%;
}

main section.nav-left .top-content .top-menu{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column; 
    width: 100%; 
    gap: 0.5rem;
} 

main section.nav-left .top-content .top-menu .option img, span{ 
    vertical-align: middle;
    width: 20%;
} 

main section.nav-left .top-content .top-menu a > i{ 
    vertical-align: middle;
    color: white;
    font-size: 2rem;
} 
main section.nav-left .top-content .top-menu a{
    text-decoration: none; 
    color: white;
    font-size: 1rem;
} 

main section.nav-left .top-content .title-playlist h5{ 
    padding-top: 20px;
    color: white; 
    font-size: 2rem;

} 

main section.nav-left .top-content .playlist{
    flex-wrap: wrap;
    overflow: auto;  
    width: 100%;
    height: 25vh;
}

main section.nav-left .top-content .playlist a{
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    line-height: 30px; 
} 

main section.nav-left .top-content .playlist ol {
    padding-top: 1rem;
}

main section.nav-left .app .install{
    border-bottom: 1px solid silver;
}

main section.nav-left .app{
    margin-bottom: 10px;
}

main section.nav-left .app .install img, span{ 
    vertical-align: text-top;
    width: 10%; 
    margin-bottom: 10px; 

}

main section.nav-left .app .name-profile img, span{
    vertical-align: middle;
    width: 15%; 

} 

main section.nav-left .app .name-profile{
    margin-top: 10px;
}

main section.nav-left .app .name-profile> img{
    background-color: salmon;
    border-radius: 50%;
    padding: 5px;
}
main section.nav-left .app .install a, .name-profile a{
    text-decoration: none; 
    color: white;
} 




 /* Main Content */ 

 /* top */
main .main-content{  
    float: left;
    background-color: rgb(20, 25, 34);
    width:90%; 
    height: 90vh;
    overflow: auto;
} 

main section.main-content .upgrade{  
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 2rem 1.5rem;
    width: 100%; 
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.3);
} 

main section.main-content .upgrade h4{ 
    border: 1px solid white; 
    color: white;
    border-radius: 50px;
    padding: .5rem 1.5rem;
    text-transform: uppercase;

} 


/* Main top-bar */ 

main section.main-content .top-bar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh; 
}  

main section.main-content .top-bar ol li{  
    color: rgb(130, 132, 136); 
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5rem;
    display: inline-block; 
    list-style: none; 

} 

/* Content center */ 

main section.main-content section.cover-played{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
}

div.card-title{
    margin: 2rem 1rem;
}

main section.main-content section.cover-played div.card-container{  
    display: flex; 
    flex-wrap: wrap; 
    padding: .5rem 1.5rem; 
    width: 100%; 
} 

section.main-content section.cover-played h2 { 
    font-size: 3rem; 
    color: white;
}  

section.main-content section.cover-played .card .description{  
    font-size: 1.5rem;
    color: white;
    text-align: center;
} 

.radius{
    border-radius: 50%;
}



section.main-content section.cover-played .card img{ 
    width: 100%; 
    padding-right: 1rem;

} 

section.main-content .creation h3{ 

    color: white;
}





/* Footer */

footer{ 
    float: left;
    height: 10vh;  
    width: 100%; 
    padding: 0 0.5rem;
    background-color:black ;
} 

footer .container-multimedia{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;
} 

footer .container-multimedia .cover{ 
    display: flex;
    flex-basis: 10%;
    height: 10vh; 
    justify-content: space-between;  
    align-items: center; 
} 

footer .container-multimedia .cover img{
    width: 50px;
} 

footer .container-multimedia .save {
    display: flex; 
    align-items: center; 
    gap: 10px;
    height: 10vh; 
}

footer .container-multimedia .play {
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    height: 10vh;
}  

footer .container-multimedia .play .buttoms{  
    display: flex; 
    align-items: flex-end; 
    justify-content: center; 
    gap: 3rem;
    width: 100%;
    height: 5vh; 
    color: white;
}
    

 
.bg-color{
    color: white;
}  

footer .container-multimedia .bar-time{
    display: flex;
    justify-content: center; 
    align-items:center;  
    gap: 1rem;
    width: 100%;
    height: 5vh; 
    color: white;
} 

footer .container-multimedia .play .bar-time .line {
    border-radius: 50px;
    width: 500px; 
    height: .3rem;
    background-color: silver; 

} 

footer .container-multimedia .play .bar-time .line .in{ 
    border-radius: 50px;
    width: 250px;
    height: .3rem;
    background-color: yellow;
}


footer .container-multimedia .player-dx{ 
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 1.5rem;
    flex-basis: 10%; 
    height: 10vh;
} 

footer .container-multimedia .player-dx .line-2{ 
    border-radius: 50px;
    width: 150px;
    height: .3rem;
    background-color: silver;
} 

footer .container-multimedia .player-dx .line-2 .in-2{
    border-radius: 50PX;
    width: 30px;
    height: .3rem;
    background-color: yellow;
} 



/* Large */

@media screen and (max-width:992px) {
    main .main-content{   
        width:75%; 
    } 
    main .nav-left{ 
        width: 25%;
        padding: 10px;      
    }  

    main section.nav-left .top-content .top-menu .option img, span{ 
        vertical-align: middle;
        width: 15%;
    } 
     main section.nav-left .top-content .logo{ 
        height: 4vh;
        width: 80%;
    } 
    
    main section.nav-left  img{ 
        text-align: left;
        width: 80%;
    }
    main section.nav-left .top-content .logo{
        height: 4vh;
    } 
    
    main section.main-content .upgrade{  
        height: 4vh;
    } 
    
    main section.main-content .top-bar{
        text-align: center;
    } 

    main section.main-content .top-bar ol li { 
        font-size: 1.2rem;
        padding: .5rem;
    }

    section.main-content section.cover-played h2 { 
        font-size: 1.5rem; 
    } 
    
    section.main-content section.cover-played .card-container .description{
        font-size: .8rem; 
        padding: 5px;
    } 

    section.main-content section.cover-played .card{ 
        width: 25%; 
        padding-right: 1rem;
    
    } 
    

} 



/* Medium */

@media screen and (max-width:768px) {
   
    main .main-content{   
        width:75%; 
    } 
    main .nav-left{ 
        width: 25%;
        padding-left: 3px;
            
    } 
    
    main section.nav-left .top-content .logo{
        height: 4vh;
    } 
    
    main section.main-content .upgrade{  
        height: 4vh;
    } 
    
    main section.main-content .top-bar{
        text-align: center;
    } 

    main section.main-content .top-bar ol li { 
        padding: .5rem;
    }

    section.main-content section.cover-played h2 { 
        font-size: 1.5rem; 
    } 
    
    section.main-content section.cover-played h3{
        font-size: 1rem;
    }
    
    section.main-content section.cover-played .card .description{ 
        padding: 10px;  
        font-size: .8rem;
    } 
    
    section.main-content section.cover-played .card{ 
        width: 50%; 
        padding-right: 1rem;
    
    } 
    
    main .nav-left{
        padding: 0  .5rem 0 .5rem; 
    }


}  




/* x-small manca barra */ 

@media screen and (max-width:576px){  

    main .main-content{   
        width:90%; 
    } 
    main .nav-left{ 
        width: 10%;
        padding-left: 3px;
            
    } 

     main section.nav-left .top-content .logo img{
        display: none;
    }

    main section.nav-left .top-content .logo{
        background-image: url(../img/logo-small.svg);
        background-size:40px;
        background-repeat: no-repeat;
        background-position: center;

    } 

    main section.nav-left .top-content .logo{
        width: 50px; 
        height: 4vh;
    } 

    main section.nav-left .top-content .top-menu a {
        display: none;
    }
    
    main section.nav-left .top-content .top-menu .option span, 
    main section.nav-left .top-content .title-playlist, 
    main section.nav-left .top-content .playlist, 
    main section.nav-left .app .install, 
    .name-profile span {
        display: none;
    }

    
    main section.nav-left .top-content .top-menu .option img{
        width: 40px;
        align-items: center;
    } 

    main section.nav-left .app .name-profile img{
        align-items: center;
        width: 50%; 
        margin-left: 10px;
    } 

    main section.main-content .top-bar ol li{ 
        display: inline;
        font-size: 1rem;
        width: 30%;
        padding: .5rem;
    
    } 
    
    main section.main-content .upgrade{  
        height: 4vh;
    } 
    
    main section.main-content section.cover-played div.card-container{  
        display: flex; 
        flex-wrap: wrap; 
        padding: .5rem 1.5rem; 
        width: 100%; 
    } 

    div.card-title{
        margin: 1rem .5rem;
    }
    
    
    section.main-content section.cover-played h2 { 
        font-size: 1.5rem; 
    } 
    
    section.main-content section.cover-played h3{
        font-size: .8rem;
    }
    
    section.main-content section.cover-played .card .description{ 
        padding: 10px;  
        font-size: .8rem;
    } 
    
    section.main-content section.cover-played .card{ 
        width: 50%; 
        padding-right: 1rem;
    
    } 
   
}  
