*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    font-family :  'Circular Std' , sans-serif ;                                               
} 

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */ 
/* Versione organizzazione contenuti contenuti  */
 
header .upgrade{
    float: right; 
    width:85% ;
    height: 10vh; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 1.5rem; 
    
    background-color: yellow; 
} 

header .btn{ 
    text-transform: uppercase;
    border: 2px solid tomato;
    border-radius: 50px; 
    padding: 1rem 3rem;
} 

/* Main */ 

/* Nav Left */

main .nav-left{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    float: left; 
    /* padding-left: 1.5rem;   at the end of the project, remember to insert the padding for all items  */  
    width: 15%;
    height: 90vh; 
    background-color: tomato;
} 

main .nav-left .logo{ 
    display: flex;
    align-items: center;
    height: 10vh; 
    background-color: blue; 
} 

main .nav-left .logo img{
    height: 50%;
    padding: .3rem;
    margin-left: 1rem;
}  

main .nav-left .home{  
    padding:1.5rem;
    font-size: 2rem;
}

main .nav-left .home .option> a{ 
    text-decoration: none; 
    color: white;
    font-size: 1.5rem; 
    line-height: 3rem;
} 

main .nav-left .home .option a>i{
    font-size: 2rem;
} 
main section.nav-left .title-section-nav{
    padding: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}  

main section.nav-left .creates{
    display: flex;
    align-items: center;
}

main section.nav-left .creates span{
    padding: 1.5rem 1.5rem 1.5rem .5rem;

} 

main section.nav-left .name-playlist{
    padding: 1.5rem;
} 

main section.nav-left .name-playlist ol li{
    list-style: none; 
    line-height: 30px;
} 

main section.nav-left section.down{ 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    gap: 350px; 
}

main section.nav-left .name-playlist ol li>a{ 
    /* at the end of the project remember to remove the decoration from all the i with a class for all the items  */
    text-decoration: none; 
    color: white;
}

main section.nav-left .creates i{ 
    padding: 0 0 0 1.5rem ;
    font-size: 3.5rem;
} 


main section.down .app .install> i, 
.name-profile> i { 
    padding: 0 .5rem 0.5rem 1.5rem;
} 

main section.down .name-profile span{ 
    font-size: 1.5rem;
} 









main .container-principal{ 
    float: right;
    width: 85%;
    height: 80vh;  
    background-color: seagreen;
}

/* Footer */

footer .player{   
    float: right; 
    width: 100%;
    height: 10vh; 
    background-color: brown;
} 

@media screen and (max-width:576px){}